<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
<!-- 로그 메시지 기록을 위해 필요한 조건? -->
<!-- 1. 로그 메시지 기록 매체 : appender -->
<!-- 2. 로그 메시지 기록 형식 : layout -->
<!-- 3. 로그 메시지 기록 이벤트 등급 : level debug -> info -> warn -> error -> fatal -->
<!-- 4. 로그 메시지 전달자 : logger -->
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level %logger{1.} - %msg%n"/>
    </Console>
  </Appenders>
  <Loggers>
    <Logger name="kr.co.jobara" level="info" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="org.springframework" level="info" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="org.springframework.test.web.servlet.result" level="debug" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="jdbc.sqltiming" level="debug" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="jdbc.resultsettable" level="info" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    <Root level="error">
      <AppenderRef ref="Console"/>
    </Root>
  </Loggers>
</Configuration>